.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Item {
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

.footer {
  position: relative;
  top: 10%;
  max-width: 100em;
  width:100;
  height: 50px;
  margin-top: auto;
  background-color: rgb(30 64 175);
  text-align: center;
  color: white;
}

.navbar{
  position: relative;
}

.head {
  position: relative;
  bottom: 0;
  font-size: 1.5em;
  width:100%;
  height: 50px;
  margin-top: auto;
  text-align: center;
  color: white;
}

.disp {
  position: relative;
  bottom: 0;
  width:100%;
  height: 50px;
  margin-top: auto;
  text-align: center;
  color: white;
}

.but{
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  margin-left: 10em; 
  margin-bottom: 3em; 
  position: relative; 
}

@media (max-width: 1080px) {
  .table-auto {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

.algn-ctr{ 
  position: relative;
  /* flex-wrap: wrap; */
}

form input, form textarea {
  border: 1px solid;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: white;
  font: size 16px;
  border-radius: 40px;
}

.BackCon{
  width: 100%;
  height: 100%;
  background: #001660;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 1vw 2vw;
  width: 400px;
  justify-content: center;
  /* max-width: auto; */
  border-radius: 10px;
}

form button {
  padding: 15px;
  background: #ff5361;
  /* color: #fff; */
  font: size 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto;
}